﻿<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Esta es una API REST desarrollada por José Carlos Peñata.</p>
  
</div>
<div class="row">
    <div class="col-md-4">
        <h2>¡Empecemos!</h2>
        <p>Selecciona la opción API para ver los metodos disponibles.</p>
        
    </div>
    
</div>
